snippet "for" "" b
for ($1 = $2; $3; $4)$0
endsnippet

snippet  "while" "" b
while ($1)$0
endsnippet

snippet  "if" "" b
if ($1) {
    $2
}$0
endsnippet

snippet  "else" ""
else {
    $3
}$0
endsnippet

snippet  "elif" ""
else if {
    $3
}$0
endsnippet
